.container {
    width: 100%;
    max-width: 100%;
}

.landing {
    position: relative;
    width: 100%;
    height: 85vh;
    background: #fff;
    z-index: 0;
    margin-top: 15vh;
    
}


.landing-cap {
    font-family: 'Open Sans', sans-serif;
    padding-top: 100px;
    padding-left: 50px;
    color: #fff;
    line-height: 8rem;
    font-size: 3.5rem;
    font-weight: 800;
    text-align: left;
}

.para-cap {
    color: #fff;
    font-size: 1.5rem;
    text-align: left;
    line-height: 1rem;
    padding-left: 50px;
}

.btn-explore {
    border-radius: 4px;
    border: transparent;
    background: rgb(9, 124, 163);
    height: auto;
    padding: 10px 20px 10px 20px;
    width: 15em;
    margin-left: 150px;
    margin-top: 50px;
    
    
}

.btn-explore span {
    color: #fff;
    font-size: 1.5rem;
}

/*Solution */

/*Ultilities classes */

.title {
    text-align: center;
    font-size: 2em;
    
}

.text-center {
    text-align: center;
}

.margin-section {
    margin: 30px;
}

/*Ultilities classes */

.begin-sec {
    margin: 20px;
}

.img-container {
    width: 100%;
    height: 100%;
}

.img-fix {
    object-fit: cover;
    max-width: 100%;
    max-height: auto;
}

.header {
    font-size: 3em;
    padding-bottom: 20px;
    padding-top: 50px;
}

.reserving {
    width: 100%;
    overflow: hidden;
    height: 100vh;
    
}



.reserve-title {
    text-align: center;
    color: #fff;
    padding-top: 200px;
    font-size: 4rem;
    opacity: 1;


}

.para {
    font-size: 2rem;
    color: #fff;
    text-align: center
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login {
    width: 400px;
    height: auto;
    border-radius: 25px;
    border: 2px solid brown;
    padding: 16px;
    background-color: whitesmoke;
    text-align: center
}

.register-container {
    display: flex;
    justify-content: center;
}

.register {
    width: 520px;
    height: auto;
    border-radius: 25px;
    border: 2px solid brown;
    padding: 16px;
    margin: 16px;
    background-color: whitesmoke;
    text-align: center;
}

/* CSS Mainpage-AvailableSister */
.text {
    position: relative;
    font-size: 14px;
    color: black;
    width: 400px; /* Could be anything you like. */
  }
  
  .text-concat {
    position: relative;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em; /* (Number of lines you want visible) * (line-height) */
    line-height: 1.2em;
    text-align:justify;
  }
  
  .text.ellipsis::after {
    content: "...";
    position: absolute;
    right: -12px; 
    bottom: 4px;
  }


  .img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}